VITE_API_URL=http://localhost:3000
VITE_AUTH_URL=http://localhost:3001
VITE_GRAPHQL_HTTP_URL=http://localhost:3000/graphql/v1
VITE_GOOGLE_CLIENT_ID=replace_with_google_oauth_client_id
VITE_PUBLIC_MAP_KEY=replace_with_google_maps_key
